/* nothing here.... yet */

body {
  /* background: $body-background; */ /* same as background color */

  /* background-image: url("/assets/images/background/scott-webb-hDyO6rr3kqk-unsplash-medium.jpeg"); */
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  /* https://www.w3schools.com/cssref/css3_pr_background.asp */
  
}



:root > * {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210; 
}
